@model UserEditViewModel;

@{
    ViewData["Title"] = "Create User";
}

<h2>CreateUser</h2>

<form asp-controller="AccountAdministration" asp-action="CreateUser" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control"/>
        </div>
        <label asp-for="LastName" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentId" class="form-control"></label>
        <div class="col-md-10">
            <select asp-for="DepartmentId" asp-items="@ViewBag.Departments"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OfficeBuildingId" class="form-control"></label>
        <div class="col-md-10">
            <select asp-for="OfficeBuildingId" asp-items="@ViewBag.Buildings"></select>
        </div>
        <label asp-for="OfficeRoomId" class="form-control"></label>
        <div>
            <select asp-for="OfficeRoomId" asp-items="@ViewBag.Rooms"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RoleId" class="form-control"></label>
        <div class="col-md-10">
            <select asp-for="RoleId" asp-items="@AppRoleManager.Roles.Select(x => new SelectListItem { Text = x.Name, Value = x.Id }).ToList()"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TechnicalGroupId" class="form-control"></label>
        <div class="col-md-10">
            <select asp-for="TechnicalGroupId" asp-items="@ViewBag.TechnicalGroup"></select>
        </div>
        <label asp-for="SubTechnicalGroupId" class="form-control"></label>
        <div>
            <select asp-for="SubTechnicalGroupId" asp-items="@ViewBag.SubTechnicalGroup.Select(x => new SelectListItem { Text = x.Name, Value = x.Id }.ToList()"></select>
        </div>
    </div>
</form>