@model IEnumerable<UserPreviewDetailsViewModel>


@{
    ViewData["Title"] = "Users";
}

<a asp-controller="TicketList" asp-action="NewTicket" class="nav navbar-nav">
    New User
</a>
<div class="container-fluid">
    @foreach (var userDetails in Model)
    {
        <a asp-controller="AccountAdministrationController" asp-action="Details" asp-route-id="@userDetails.ProfileId">
            <div class="row">
                <div class="col">@userDetails.LastName</div>
                <div class="col">@userDetails.FirstName </div>
                <div class="col">@userDetails.Email</div>
                <div class="col">@userDetails.PhoneNumber</div>
            </div>
        </a>
    }
</div>
