@model IEnumerable<AppIdentityUser>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>
<button class="btn btn-primary" type="button" asp-action="CreateUser">New User</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <th scope="row">@u.Id</th>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.PhoneNumber</td>
                <td>@u.Email</td>
                <td><button class="btn btn-primary" type="Button" asp-action="EditUser">Edit</button></td>
            </tr>
        }
    </tbody>
</table>