@model OpenTicketSystem.Models.Locations.Building

@{
    ViewData["Title"] = "Building Details";
}

<h2>BuildingDetails</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditBuilding" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h3>Rooms</h3>

    <button class="btn btn-primary" asp-action="AddBuilding">Add Building</button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in ViewBag.Rooms)
            {
                <tr>
                    <th scope="row">@d.Id</th>
                    <td>@d.Name</td>
                    <td>@d.Description</td>
                    <td>@d.PrimaryContactUsername</td>
                    <td><button class="btn btn-primary" type="button" asp-action="RoomDetails" asp-route-deptid="@d.Id" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>