@model OpenTicketSystem.ViewModels.UserAdapterModel

@{
    ViewData["Title"] = "Delete";
}

@inject RoleManager<IdentityRole> _roleManager
@inject UserManager<AppIdentityUser> _userManager

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserAdapterModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Department
        </dt>
        <dd>
            <div class="departmentInfo" data-deptId="@Model.DepartmentId"></div>
        </dd>
        <dt>
            Building Information
        </dt>
        <dd>
            <div class="buildingInfo" data-buildingId="@Model.OfficeBuildingId"></div>
        </dd>
        <dt>
            Room Number
        </dt>
        <dd>
            <div class="roomInfo" data-roomNum="@Model.OfficeRoomId"></div>
        </dd>
        @{ 
            string[] roles =
            {
                    "Technician",
                    "TechnicalManager",
                    "TechnicalDirector"
            };

            var uroles = _userManager.GetRolesAsync(Model._identityUser);
            bool tech = false;
            foreach (var r in roles) { tech = roles.Contains(r); if (tech) { break; } }
            if(tech){

        <dt>
            Technical Group
        </dt>
        <dd>
            <div class="technicalGroupInfo" data-techId="@Model.TechnicalGroupId"></div>
        </dd>
        <dt>
            Team
        </dt>
        <dd>
            <div class="subTechnicalGroupInfo" data-stechId="@Model.SubTechnicalGroupId"></div>
        </dd>
            }
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
