@model TicketQueueViewModel

@{
    ViewData["Title"] = "Global Ticket Queue";
}
<a asp-controller="TicketList" asp-action="NewTicket" class="nav navbar-nav">
    New Ticket
</a>
<button class="btn btn-primary" asp-action="NewTicket">New Ticket</button>
@foreach (var m in Model)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Time Stamp</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in m)
            {
                <tr>
                    <th scope="row">@t.Id</th>
                    <td>@t.TimeStamp</td>
                    <td>@t.Subject</td>
                    <td>@t.Status.ToString()</td>
                    <td><button class="btn btn-primary" type="button" asp-action="TicketDetails" asp-route-id="@t.Id"></button></td>
                </tr>
            }
        </tbody>
    </table>
}

